# A13 - PROBLEMA DEL VIAJANTE

#### Aline Rockenzahn Gallegos

#### Jueves 07 Noviembre 2024

In [1]:
#optimización convexa: de donde epecemos la regresión lineal siempre nos va a dar una respuesta. Fue lo que nos pasó en el repaso con las polinomiales. 
#una función convexa: siempre podré conectar un punto con otro. Garantizo que sólo hay un min global. 
#forma convexa: puedo esocger cualesquiera dos puntos en el espacio y simepre podré conectarlos.

Si vamos a un festival de tacos y queremos los mejores tacos del lugar, pruebas todos. Te tienes que equivocar para encontrar el valor adecuado. 
Pero si haces muchas combinaciones puede que el programa se tarde mucho. Podríamos hacer montecarlo. 
Todo lo que vimos en unidad 1 y 2 podríamos modelarlo con funciones continueas. El cuadrado de la regresión lineal es para forzarlo a que sea convexo. 
¿Cómo definiríamos el problema de viajes? 
en realidad son procesos ya establecidos que sólo los reacomodo. Parece cartón de huevo, o sea hay muchísimas rutas posibles que son buenas. 
Si quiero un método numérico que me diga de dónde partir necesito decirle de dónde partir así que ya para que estoy optimizando. 
Tercel parcial es una combinación de u1 y u2. Optimizar el problema con métodos heurísticos.

PASO 1

In [95]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
#Tuve que usar ese comando porque salen como 100 líneas de "advertencias" que estorban en el doc. Preguntar sobre eso 

import pandas as pd 
tabla =  pd.read_excel("datosCT.xlsx", sheet_name="8c").set_index("indice") #le cambié el nombre a la primera columna para facilitar los cálculos después 
tabla

,Tijuana,Mérida,GDL,México,León,Monterrey,Tapachula,Chihuahua
indice,,,,,,,,
Tijuana,0,4180,2306,2848,2529,2409,4005,1583
Mérida,4180,0,1874,1332,1719,2046,1062,2819
GDL,2306,1874,0,542,223,789,1699,1202
México,2848,1332,542,0,389,933,1157,1487
León,2529,1719,223,389,0,711,1544,1140
Monterrey,2409,2046,789,933,711,0,1803,826
Tapachula,4005,1062,1699,1157,1544,1803,0,2644
Chihuahua,1583,2819,1202,1487,1140,826,2644,0

In [97]:
import numpy as np 
import random 

def ciudades():
    ciudades = ["Tijuana", "Mérida", "GDL", "México", "León", "Monterrey", "Tapachula", "Chihuahua"]
    escoge = np.random.choice(ciudades, size=8, replace=False)
    return np.array(escoge) 

R1 = ciudades()
R1

array(['León', 'Chihuahua', 'Monterrey', 'Mérida', 'Tijuana', 'GDL',
       'Tapachula', 'México'], dtype='<U9')

In [99]:
def intercambio(lista):
    posiciones = np.random.choice([0,1,2,3,4,5,6,7], replace=False, size=2)
    ciudad1 = lista[posiciones[0]] 
    ciudad2 = lista[posiciones[1]] 
    lista[posiciones[0]] = ciudad2
    lista[posiciones[1]] = ciudad1 
    return lista

In [101]:
R2 = intercambio(R1.copy())
R2

array(['León', 'Tapachula', 'Monterrey', 'Mérida', 'Tijuana', 'GDL',
       'Chihuahua', 'México'], dtype='<U9')

In [105]:
def distancia(ciudad1, ciudad2): # tabla como tercer argumento
    if ciudad1 == "Tijuana":
        indice = 0
    if ciudad1 == "Mérida":
        indice = 1
    if ciudad1 == "GDL":
        indice = 2
    if ciudad1 == "México":
        indice = 3
    if ciudad1 == "León":
        indice = 4
    if ciudad1 == "Monterrey":
        indice = 5
    if ciudad1 == "Tapachula":
        indice = 6
    if ciudad1 == "Chihuahua":
        indice = 7 
    tabla =  pd.read_excel("datosCT.xlsx", sheet_name="8c").set_index("indice") #le cambié el nombre a la primera columna para facilitar los cálculos después 
    distancia = tabla[ciudad2][indice]
    return distancia

In [107]:
def distancia_total(lista):
    km = 0 
    dis = []
    for i in range(0,8):
        res = distancia(lista[i],lista[i+1])
        km = km + res
        #dis.append(km)
        if i == 6: 
            break
    km = km + distancia(lista[0],lista[-1]) 
    #dis.append(km)
    return km

In [109]:
distancia_total(R1), distancia_total(R2)

(13743, 14957)

In [111]:
distancia_R1 = distancia_total(R1)
distancia_R2 = distancia_total(R2)

In [114]:
distancia_R1, distancia_R2

(13743, 14957)

In [116]:
T = 1000 #qué es T ? 
q = np.exp((distancia_R1 - distancia_R2 )/(T))
p = np.random.choice([0,1]) 
if p < q:
    print("y")
    R1 = R2.copy()  #Crea un nuevo objeto con el contenido de R2 y se lo asigna a R1 
R1

y

array(['León', 'Tapachula', 'Monterrey', 'Mérida', 'Tijuana', 'GDL',
       'Chihuahua', 'México'], dtype='<U9')

In [118]:
#En este caso sí fue p < q

PASO 2

In [121]:
R1 = ciudades()
def paso2(R1, N):
    for i in range(N): 
        R2 = intercambio(R1.copy()) 
        distancia_R1 = distancia_total(R1)
        distancia_R2 = distancia_total(R2)
        T = 1000 
        q = np.exp((distancia_R1 - distancia_R2 )/(T))
        p = np.random.choice([0,1]) 
        if p < q:
            R1 = R2.copy()
    return R1

In [123]:
paso2(R1, 10)

array(['Chihuahua', 'Tapachula', 'Tijuana', 'Monterrey', 'GDL', 'León',
       'Mérida', 'México'], dtype='<U9')

PASO 3

In [134]:
def paso3(T,N):
    R1 = ciudades()
    while T > 1:
        ruta_final = paso2(R1,N)
        R1 = ruta_final.copy() 
        T = T*0.90 
    return R1

In [136]:
paso3(1000,10)

array(['Tapachula', 'Tijuana', 'Chihuahua', 'León', 'México', 'Mérida',
       'GDL', 'Monterrey'], dtype='<U9')

In [138]:
def paso4(T,M,N):
    rutas = [] 
    distancias = [] 
    m = 0
    while m < M:
        R1 = paso3(T,N) 
        distancia = distancia_total(R1)
        rutas.append(R1)
        distancias.append(distancia)
    return rutas, distancias

In [ ]:
paso4(1000,8,5)